<div class="center vh-100">
    <form asp-action="HelloUser" method="get">
        <h2>Enter name</h2>
        <input type="text" name="Name">
        <input type="submit" value="Enter">
    </form>
</div>